*{
    padding: 0;
    margin: 0;
}

header h1{
    padding-top: 20px;
}
.Navegación {
    display: flex;
    background-color:#d9bcb0;
    height: 50px;
    text-align: left;
    align-items: center;
}
 .Navegación a {
    text-decoration: none;
    color: black;
    padding: 15px;
}
.Content {
display: flex;
}
.Content aside {
    width: 20%;
    height: 500px;
    background-color: #ff8b8b;
}
.Content main {
    background-color: ss#edbebe;
    width: 80%;
}

.Content aside p {
    padding: 10px;
}
.Content main p {
    padding: 10px;
}
.Content article {
    padding: 10px;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #d9bcb0;
}